/* Styles:

Menus: drop down, content
Footer
tables
*/

body

{
    
    /*background-image: url(../images/earphones-background1.png);*/
    background-size:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color:rgb(1,1,1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:whitesmoke;
    background-position: center;
    
}    
h4{
    font-size: 145%;
    font-family: cursive;
    color: ivory;
    text-align: center;
    z-index:1;
}

.h3{
    font-size: 135%;
    font-family: cursive;
    color:white;
    text-align: center;
    z-index:1;
    background-color: black;
    height: 55px;
    width: 100%;
    box-sizing: border-box;
  
}

h2 {
    letter-spacing: 0.5px;
}




/* PARALLAX */

.a {
    text-decoration: none;
}

.parallax {
    background-image: url("https://londonrose2.github.io/talkinenglish/images/music-5516006_1920.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85.37%;
    /*margin-left: 100px;*/
}


.parallax-ipad {
    background-image: url(images/ipad-605439_1280.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    
}



.parallax-business {
    background-image: url(images/discussion.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
    
    
}

.parallax-flag {
    background-image: url(images/aboutb.png);
    height: 700px;
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size:85%;
    /*margin-bottom: 30px;*/
}

.parallax-native {
    background-image: url(images/globus-2534766_1280.png);
    height: 800px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:45%;
    margin-top: 0px;
}


.parallax-other {
    background-image: url(images/talktext.png);
    height: 600px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size:65%;
  
    
    
    
}

.parallax-class {
    background-image: url(images/business-4677639_1280.png);
    height: 1200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-bottom: 200px;
    
}



.parallax-movie1 {
    background-image: url(images/movie1.png);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    margin: 0px 250px;
    
    
    
}

.parallax-movie2 {
    background-image: url(images/movie2.png);
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    margin: 0px 250px;
    /*margin-bottom:30px;*/
      
}

.parallax-movie3 {
    background-image: url(images/discussion.jpg);
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
    margin-bottom:50px;
    margin-top: 200px;
    margin-left: 510px;
    margin-right: 510px;
    border-radius: 35px;
    
}


.parallax-plane {
    background-image: url(images/eiffel-tower-351492_1280.jpg);
    height: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    background-position: bottom;
    margin:400px 300px;
    border-radius:  200px;
    
}


.parallax-cefraa {
    background-image: url(images/virtual-learning-5550480_1280.jpg);
    height: 900px;
    padding: 100px 725px 200px 0px;
    background-attachment: fixed;
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}


.parallax-abc4 {
    background-image: url(images/virtual-learning-5550480_1280.jpg);
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-color:rgb(255, 196, 138);*/
    
   
}



.parallax-courses{
    background-image: url(images/a5.png);
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.parallax-courses1{
    background-image: url(images/business-4677639_1280.png);
    height: 800px;
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 46%;
    padding-top: 100px;
    
    
}


.parallaxa1 {
    background-image: url(images/a1/Slide1.png);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}



.parallaxa2 {
    background-image: url(images/a1/Slide2.png);
    height: 500px;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}


.parallaxa3 {
    background-image: url(images/a1/Slide3.png);
    height: 500px;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}


.parallaxa4 {
    background-image: url(images/a1/Slide4.png);
    height: 500px;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.parallaxa5 {
    background-image: url(images/a1/Slide5.png);
    height: 500px;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: exclusion;
}

.parallaxa6 {
    background-image: url(images/a1/Slide6.png);
    background-image: cross-fade(url(images/a1/Slide6.png)75%, url(images/apple-1868496_1920.jpg) 25%);
    height: 500px;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: exclusion;
    
}


.parallax-about {
    background-image: url(images/business-card-1015284_1920.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    margin-bottom: 50px;
    border-color: darkgray;
    background-color: rgb(15, 15, 15);
    
}


.parallax-aboutme {
    background-image: url(images/aboutgray.png);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-color: darkgray;
    background-color:black;
    border-radius: 100px;
    margin: 100px 350px; 
    
}



.parallax-computer {
    background-image: url(images/apple-1868496_1920.jpg);
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 100px;
}

.parallax-phone {
    
    height: 700px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30%;
    margin-bottom: 100px;
}

.parallax-contact {
    
    background-image: url(images/music-4334557_1920.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.parallax-writing {
    
    background-image: url(images/writing-pad-3202747_1920.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 100px;
    padding-left: 500px;
}

.container-column p img {
    height: 50px;
    font: black;
}

.container-column a {
    color: rgb(51, 60, 156);
    font-size: small;
    margin-left: 20px;
}

body.other {
    /*background-image: url(../images/earphones-background1.png);*/
    background-image: url(images/ipad-605439_1280);
    background-size:80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color:whitesmoke;
    background-position: right;
   
    
}

body.other h5 {
    color: rgb(27, 26, 26);
    font-size: 25px;
    margin-left: 100px;
}

body.white{
    background-image: url(images/apple-1868496_1920);
    background-size:80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position: right;
    
}


/* Home Page Flag Icon */

.homeflag{
    
    position: fixed;
    object-fit: contain;
    z-index: 1;
    
    
  
   

}

.homeflag img{
    
    position: fixed;
    object-fit: contain;
    max-width: 2.5em;
    height: auto;
    margin-left:1em;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 300px 300px 300px 300px;
    z-index: 1;
    
  
   

}

.button {
    border-radius: 85px;
    width: 200px;
    height: 100px;
}
.homebutton{
    
    position: absolute;
    object-fit: contain;
    max-width: 2em;
    height: auto;
    margin-left:7.5em;
    margin-top:1em;
    /*border-radius: 50px;*/
    z-index: 1;
    
   

}


.homeflag-large{
    
    position: absolute;
    object-fit: contain;
    max-width: 60px;
    height: 10px;
    object-position: right;
    margin-left: 15em;
    border-radius: 30px;
    border-width: 10px;
    text-align: right;
    

   

}
.homeflag-large a{
    text-decoration: none;
}

.homeflag-center{
    
    position: absolute;
    object-fit: contain;
    max-width: 2em;
    height: auto;
    margin-top:1em;
    margin-left:-10px;
    border-radius: 50%;
    z-index: 1;
   

}
/* Navigation Bar */

.header-nav {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 2em;
}

/* Buttons */    
    

.button div{
    background-color: gray;
    width: 25px;
    height: 1px;
    margin: 4px 0;
    box-shadow: 0px 8px 18px 0px rgba(78, 76, 76, 1);
    border: outset;
    border-color: rgb(133, 147, 161);
    
}


/* Animation */


.zoom {
    position:absolute;
    margin-left: 38%;
    margin-top:63px;
    animation: zoom 5s infinite;
    color: black;
    
    background-color: white;
    text-align: center;
    font-size: 38px;
    box-sizing: content-box;
    border-radius: 60px 60px 60px 0px;
    border:outset;
    width: 85px;
    height: 70px;
    border-color: rgba(255, 123, 0, 0.77);
    vertical-align: middle;
    padding: 30px 10px 0px 15px;
    
    
}

.zoom1 {
    position:absolute;
    margin-left: 53%;
    margin-top:220px;
    animation: zoom1 5s infinite;
    color:rgba(255, 123, 0, 0.77);
    text-align: center;
    font-size: 25px;
    box-sizing: border-box;
    border-radius: 60px 60px 0px 60px;
    border:outset;
    width: 110px;
    height: 100px;
    border-color: rgba(255, 123, 0, 0.77);
    vertical-align: middle;
    padding: 35px 25px 20px 20px;
    
    
}


.slide-center {
    position:relative;
    left: 20px;
    top:50px;
    opacity:0;
    animation: slider1 10s infinite;
    font: white;
    text-align: left;
    font-size: 22px;
    padding-inline-start: 20px;
    
    
}

.slide-center img{
    width: 100px;
    z-index: -1;
}


.slide-right {
    position:relative;
    left: 20px;
    top:50px;
    opacity:0;
    animation: slider1 10s infinite;
    font: white;
    text-align: left;
    font-size: 22px;
    padding-inline-start: 20px;
    
    
}

.slide-right img{
    width: 450px;
    z-index: 1;
       

}


.slide-left {
    position:relative;
    left: 400px;
    top:200px;
    opacity:0;
    animation: slider 5s infinite;
    font: white;
    font-size: 22px;
    text-align: left;
    padding: 10px;
    
    
}

.slide-left img{
    width: 450px;
    z-index: 1;
    
}

@keyframes slider {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    30% {
        transform:translateX(-55px);
        opacity: 1;
    }
    50% {
        transform:translateX(-55px);
        opacity: 1;
    }
    100% {
        transform: translateX(-600px);
        opacity: 0;
    }
}

@keyframes slider1 {
    0% {
        transform: translateX(-600px);
        opacity: 0;
    }
    30% {
        transform:translateX(200px);
        opacity: 1;
       
    }
    50% {
        transform:translateX(150px);
        opacity: 1;
    }
    100% {
        transform: translateX(700px);
        opacity: 0;
    }
}

@keyframes zoom {
    0%  {opacity: 0;}
    
    50% {opacity: 1;}
    75% {opacity: 0;}
    100%{opacity: 0;}
}

@keyframes zoom1 {
    0%  {opacity: 0;}
    30% {opacity: 0;}
    50% {opacity: 0.5;}
    70% {opacity: 1;}
    85% {opacity: 0}
    100%{opacity: 0;}
}

/* Container */


.downarrow img{
    width: 100%;
    height:350px;
    
    
    
}

.orange{
    font-size: 135%;
    font-family: cursive;
    color:white;
    height: 10px;
    width: 100%;
    box-sizing: border-box;
  
}

.orangearrow {
    width:500px;
    height:auto;
    align-content: center;
    margin-left: 390px;
}

.rightarrow{
    width:30px;
    height:auto;
    border: outset;
    border-color: rgba(255,123,0,0.77);
    border-radius: 100%;
    vertical-align: bottom;
    
}

.rightarrow-top{
    width:30px;
    height:auto;
    border: outset;
    border-color: rgba(255,123,0,0.77);
    border-radius: 100%;
    vertical-align: top;
    
}
.downarrow{
    width:auto;
    height:60px;
    float:left;
    border-radius: 100%;
    margin-left: 600px;
    margin-top: 100px;
    box-sizing:border-box;
    object-fit: cover;
   
}


.blackbar-big{
    position: relative;
    border-width: 0px;
    margin: 0px;
    margin-top: 0px;
    background-color:rgb(0, 0, 0);
    height: 150px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    font-size: 150%;
    font-family:cursive;
}    

.blackbar-small{
    position: relative;
    background-color: rgb(0, 0, 0,);
    /*background-color: rgba(0,0,0,0.5);*/
    height: 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 150%;
    font-family:cursive;
    vertical-align: center;
}    

.blackbox{
    position: fixed;
    background-color: rgb(0, 0, 0,);
    /*background-color: rgba(0,0,0,0.5);*/
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 150%;
    font-family:cursive;
    z-index: 1;
} 


.graybar-big{
    position: relative;
    border-width: 0px;
    margin: 0px;
    margin-top: -4px;
    background-color:rgba(61, 60, 60);
    height: 150px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    font-size: 150%;
    font-family:cursive;
}    

.graybar-small{
    position: relative;
    border-width: 0px;
    margin: 0px;
    margin-top: -4px;
    background-color:rgb(212, 208, 208,);
    height: 50px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    font-size: 150%;
    font-family:cursive;
}    
.orangebar{
    position: absolute;
    border: outset;
    border-width: 5px;
    margin-left: 500px;
    margin-top: 200px;
    background-color:rgba(255,170,89, 0.95);
    height: 50px;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-family:cursive;
    border-radius: 35px;
    border-color:white;
    
    

}
a {
    text-decoration: none;
    color: white;
}


.orangebar h4{
    color: rgba(0, 0, 0, 0.8);
}

.transbar{
    position: relative;
    border-width: 5px;
    margin-left: 500px;
    margin-top: 10px;
    margin-bottom: 500px;
    /*background-image: url(images/ipad-605439_1280.jpg);*/
    height: 50px;
    width: 300px;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-family:cursive;
    border-radius: 35px;
    border-color: rgb(0,0,0);
    

}

.transbar h4{
    margin-top: 100px;
}

.graybar{
    position: absolute;
    border-width: 5px;
    
    background-color:rgba(46, 44, 42, 0.9);
    /*background-image: url(images/ipad-605439_1280.jpg);*/
    height: 700px;
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-family:cursive;
    
    border-color: rgb(0,0,0);
    

}

.graybar p{
    margin-left:500px;
    margin-top:200px;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-family: cursive;
    
}

.blackbar{
    position: absolute;
    border-width: 5px;
    margin-left: 500px;
    margin-top: 200px;
    background-color:rgba(0,0,0, 0.9);
    /*background-image: url(images/ipad-605439_1280.jpg);*/
    height: 50px;
    width: 200px;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-family:cursive;
    border-radius: 35px;
    border-color: rgb(0,0,0);
    

}


.rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


.container {
    /*position: relative;*/
    /*align-content: top;*/
    /*display:inside;*/
    /*background-color: rgba(241, 233, 233, 0.75);*/
    /*border-color: rgba(255, 123, 0, 0.8);*/
    border-color: rgba(241, 233, 233, 0.75);
    /*border-width: 10px;*/
    /*height: 450px;*/
    padding: 1.5em;
    text-align: left;
    /*border-radius: 5px;*/
    /*columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;*/
    margin-left: 50px;
    margin-right: 50px;
    vertical-align: top;
    margin-top: 20px;
    /*border-style:groove;*/
    width: 300px;
    height: 250px;
  
}




.container-black {
    position: relative;
    align-content: center;
    display:inside;
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(255, 123, 0, 0.8);
    padding: 20px;
    text-align: left;
    border-radius: 15px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    vertical-align: center;
    color: rgba(255,170,89, 0.9);
  
}
.container-black image{
    border-radius: 20px;
    width: 400px;
    height: auto;
}

.container-black a{
    text-decoration: none;
    color:rgba(255,170,89, 0.9);
}
.container-black a h4{
    color:rgba(255,170,89, 0.9);
    text-align: right;
    
}

.container-black h4 {
    color:rgba(71, 69, 66, 0.9);
    font-size: 140%;
    text-align: left;
}


.container-black article{
    break-after: column;
}

.container-large {
    position: relative;
    margin-top: -4px;
    margin-bottom: 100px;
    align-content: center;
    text-align: center;
    display:block;
    background-color: whitesmoke;
    /*background-color: rgba(71, 67, 67,0.95);*/
    /*border-color: rgba(255, 123, 0, 0.8);*/
    border-color: whitesmoke;
    padding: 3em 3em 3em 6em;
    height: 550px;
    border-bottom: 100px;
    
}

.container-large h4{
    /*position: relative;*/
    /*margin-top: -4px;*/
    /*align-content: center;*/
    text-align: left;
    display:block;
    /*padding: 3em;*/
    
}

.transbar img {
    
    width: 350px;
    height: auto;
    padding: .30em;
    float:left;
    border-radius: 100px;
    box-sizing:border-box;
    object-fit: cover;
    margin: 15px;
 
 
    
}



.phone {
    
    size: 50%;
    float:right;
    border-radius: 15px;
    box-sizing:border-box;
    object-fit: cover;
    margin: 10px;
 
 
    
}

.container img {
    
    width: 200px;
    height: auto;
    padding: .30em;
    float:left;
    border-radius: 100%;
    box-sizing:border-box;
    object-fit: cover;
    margin: 0px 15px 15px 0px;
    /*background-color:rgba(255, 123, 0, 0.77);*/

    
    
}

.container-image {
    
    width: 400px;
    height: auto;
    float:left;
    border-radius: 85%;
    box-sizing:border-box;
    object-fit: cover;
    /*background-color:rgba(255, 123, 0, 0.77);*/
    padding: 0px;
    /*border:outset;*/
    margin-left:425px;
    /*margin-top: 250px;*/
    
    
}

.container-column {
    width: 275px;
    /*height: 300px;*/
    margin-left: 20px;
    /*margin: 20px;*/
    border-color: black;
    position:static;    
}


.container-large img {
    
    width: auto;
    height: 225px;
    
    border-radius: 30px;
    border-style: outset;
    border-color: lightgray;
    box-sizing:border-box;
    object-fit: cover;
    /*margin: 0px 0px 0px 75px;
    background-color:rgba(255, 123, 0, 0.77);*/
    /*padding: 3px;*/
    /*background-color:rgba(255, 123, 0, 0.77);*/
    
}


.container-column img {
    
    width: auto;
    height: 250px;
    
    /*float:left;*/
    border-radius: 30px;
    border-style: outset;
    border-color: lightgray;
    box-sizing:border-box;
    /*object-fit: cover;*/
    /*margin: 0px 200px 50px 75px;
    background-color:rgba(255, 123, 0, 0.77);*/
    /*padding: 3px;*/
    /*background-color:rgba(255, 123, 0, 0.77);*/
    
}


/*.container-image1 {
    
    width: 100px;
    height: auto;
    float:bottom;
    border-radius: 85%;
    box-sizing:border-box;
    object-fit: cover;
    background-color:rgba(255, 123, 0, 0.77);
    padding: 2px;
    margin-left: 900px;
    margin-top: -100px;
    z-index:1;
    
    
}*/

.textbox-small {
    
    width: 300px;
    height: auto;
    float:left;
    text-align: center;
    box-sizing:border-box;
    object-fit: cover;
    padding: 0px;
    margin-left:490px;
    margin-top: 50px;
    
    
}


.container article{
    width:350px;
    margin-bottom: 10em;
    margin-right: 400px;
    margin-left:10px;
        
}


/*.container article p{
    margin-left: 100px;
        
}*/

.container ul {
    font-size: 75%;
    white-space:pre-line;
    padding: 5px 5px 5px 50px;
    /*background-color: whitesmoke;*/
    /*background-color:rgb(214, 213, 213);*/
    width: 230px;
    /*margin-left: 50px;*/
    font-weight: lighter;
    /*box-shadow: black;*/
    border-radius: 20px;
    /*border-style: outset;*/
    color:rgb(36, 34, 34);
    /*columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;*/
    
           
}

/*
.container ul {
    font-size: 75%;
    white-space:pre-line;
    padding: 5px 5px 20px 50px;
    /*background-color: rgba(255, 123, 0, 0.8);
    width: 425px;
    background-color: rgba(255, 123, 0, 0.8);
    font-weight: lighter;
    box-shadow: black;
    border-radius: 30px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    
           
}
*/

.container article a {
    text-decoration: none;
    color: white;
    text-decoration: none;
    
}
/*.container ul li:nth-child(6) {
    color:rgb(0,0,0);
    text-decoration: none;
        
}*/
.container h4 {
    font-size: 110%;
    color: rgb(20, 20, 20);
    font-weight: bold;
    /*width: 500px;
    margin-top: 15px;*/
    

}

.container article h4 {
    font-size: 110%;
    color: rgb(24, 23, 23);
    font-weight: bold;
    /*width: 500px;
    margin-top: 35px;*/
    text-align: center;
    

}


/*.container h4:nth-child(odd){
    break-before: column;

}
*/
.container h3 {
    font-size: 110%;
    color:rgb(0,0,0);
    font-weight: bold;
    width: 500px;
    margin-top: 25px;
    break-before: column;

}

.container p {
    font-size: 85%;
    color: rgb(31, 29, 29);
    /*background-color:rgba(255, 123, 0, 0.8);*/
}

.container button {
    font-size: 9px;
    font-weight: bold;
    /*background-color:rgba(255, 123, 0, 0.77);*/
    background-color: rgba(78, 76, 76, 0.8);
    color: white;
    text-align: center;
    margin-left: 100px;
    border-radius: 25px;
    padding: 5px;
    float:center;
    box-shadow: gray;
    border:outset;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.graybutton {
    font-size: 9px;
    font-weight: bold;
    /*background-color:rgba(255, 123, 0, 0.77);*/
    background-color: rgba(78, 76, 76, 0.8);
    color: white;
    text-align: center;
    margin-left: 100px;
    border-radius: 25px;
    padding: 5px;
    float:rigt;
    box-shadow: gray;
    border:outset;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


/*.container ul image{
    background-size: 50px;
    font-size: 9px;
    font-weight: bold;
    height: 10px;
    box-sizing: content-box;
    /*background-color:rgba(255, 123, 0, 0.77);
    background-color: rgba(78, 76, 76, 0.8);
    color: black;
    text-align: center;
    margin-left: 100px;
    border-radius: 25px;
    padding: 5px;
    float:right;
    box-shadow: gray;
    border:outset;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}*/

.signup img {
    font-size: 9px;
    font-weight: bold;
    /*background-color:rgba(255, 123, 0, 0.77);*/
    background-color:white;
    color: white;
    position: fixed;
    object-fit: contain;
    text-align: center;
    margin-left: 100px;
    border-radius: 25px;
    padding: 5px;
    float:right;
    box-shadow:white;
    border:outset;
    width: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/* DROP-DOWN MENUS ~ Content, Links */



.dropdown {
    position: fixed;
    display: inline-block;
    border:none;
    z-index: 1;
    
}


.dropdown-content{
    display: none;
    position: absolute;
    /*background-color: rgba(255, 123, 0, 0.77);*/
    background-color: rgba(rgb(40, 40, 40),0.5);
    min-width: 100px;
    box-shadow: 3px 8px 16px 2px rgba(78, 76, 76, 1);
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index:1;
    font-family: sans-serif;
    border:none;
    border-radius: 5px;
    margin-left: 12px;
    margin-top: 30px;
    color: rgb(34, 31, 31);
    

}



.dropdown-content a{
    /*color: black;*/
    color:rgba(255, 123, 0, 0.8);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    
}

.dropdown:hover .dropdown-content {display:block;}
.dropdown a:hover {
    /*background-color:rgba(255,170,89, 0.9); */
    color: whitesmoke;
    background-blend-mode: soft-light; 
    border-radius: 5px; 
    background-image: url(images/backward.jpg); 
    background-size: 15px; 
    background-repeat: no-repeat; 
    background-position: right;
   
}

body.other .dropdown a:hover {
    /*background-color:rgba(255,170,89, 0.9); */
    color: rgba(255,123,0,0.9);
    /*background-color: rgba(255,170,89, 0.9);*/
    border-radius: 2px; 
    background-image: url(images/backward1.png); 
    background-size: 10px; 
    background-repeat: no-repeat; 
    background-position: right;
}


body.other .dropdown a {
    color: rgba(31,31,31,0.95)
    
}

body.other .dropdown-content {
    padding-right: 5px;
    background-color:rgba(34, 31, 31, 0.2);
    opacity: 95%;

}

/* TABLES */

table{
    margin-left: 100px;
    width: 600px;
    /*background-color: rgba(245, 245, 245, 0.788);*/
    font-size: 14px;
    color: rgb(44, 42, 42);
    padding-top: 50px;
    
    
}

td {
    padding: 10px;

}
th {
    background-color:rgba(255, 123, 0, 0.8);
    color: white;
    padding: 10px;
    text-align: center;
    vertical-align: middle;

    }
tr {
    background-color: rgba(255,170,89, 0.95);
    color: rgb(31, 29, 29);
    /*padding: 40px;*/
    width: 300px;
}    
tr:nth-child(odd){
    background-color:#eef7ff;
    color: rgb(31, 29, 29);
    }
tfoot{
    text-align: left;
    background-color:rgba(255, 123, 0, 0.8);
    color:rgb(31, 29, 29);
    }

    
/* Google Form Sign Up */

.iframe {
   padding-left: 5em;
   height: 240px;
   width: 440px;
   border-style: none;
      
   
}


/*.iframe {
    padding-left: 15em;
    height: 450px;
    width: 450px;
    border-style: none;
 }*/


/* CONTROLS BUTTON */


.controls{
    position: relative;
    object-fit: contain;
    max-width: 7em;
    height: auto;
    margin-left:1800%;
    margin-top: 1400%;
    box-sizing: border-box;
    
    

}


.controls-home{
    position: relative;
    object-fit: contain;
    width: 45px;
    height: auto;
    margin-left:1970%;
    margin-top: 1480%;
    box-sizing: border-box;
    border-radius: 85px;
    border-color: rgba(255,123,0,0.77);
    border-width: 3px;
        

}


.controls-small {
    
        position: fixed;
        object-fit: contain;
        max-width: 8em;
        height: auto;
        box-sizing: content-box;
        object-fit: contain;
        

    
}
.dropdown-content1{
    display: none;
    position: absolute;
    background-color: rgba(255, 123, 0, 0.77);
    min-width: 6em;
    box-shadow: 0px 8px 16px 0px rgba(78, 76, 76, 0.8);
    z-index:1;
    font-family: sans-serif;
    border:none;
    border-radius: 10%;
    left:0;
    margin-left: 26em;
    margin-top: 25em;
    color: black;
    
}

.dropdown1{
    position: relative;
    display: inline-block;
    border:none;
    
}

.dropdown1 image{
    position: fixed;
    width: 30em;

}

.dropdown-content1 a{
    color: black;
    font-weight: bold;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    
}

.dropdown1:hover .dropdown-content1 {display:block;}


/* Forms */

form {
    color:rgb(31, 28, 28);
    font-size: 13px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    margin-left: 200px;
    width: 300px;
    margin-top:-160px;
    padding: 40px 30px 30px 40px;
    
}

form label {
    text-emphasis: bold;
    vertical-align: baseline;
    
}

form input {
    margin-bottom: 10px;
    line-height: 20px;
    width: 215px;
   
}

form input.checkbox {
    width: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
}

form input.button {
    background-color: rgba(255, 123, 0, 0.8);
    color: whitesmoke;
    border-color: whitesmoke;
    height: 30px;
    width: 215px;
    margin-top: 15px;
    animation-fill-mode: forwards;
}

form input.button:hover {
    color:rgba(31,31,31,0.95);
    cursor:pointer;
}

/* FOOTER */


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.footer-ribbon{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    box-shadow: border-box;
    background-color:black;
    color: rgba(255,123,0,0.77);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 10px;
}

.footer-ribbon a{
    color: rgba(255,123,0,0.77);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}

.footer-ribbon1{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: rgba(255,123,0,0.77);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    padding-left: 15px;
    text-align: center;
    
}
.footer-ribbon1 a{
    color: rgba(255,123,0,0,0.77);
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.footer {
    padding-top: 1em; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    background-color: black;
    font-size: 15px;
    color: whitesmoke;
    display:flex;
    margin-bottom: 0!important;
    
}

/* STYLES USED


Orange:
255, 123, 0, 0.77

Black:
rgb(71, 67, 67,0.9);

Box Shadow:
0px 8px 18px 0px rgba(78, 76, 76, 1);

Peach, light:
254, 201, 149

Peach, dark:
255,170,89

*/
